.ShopPageNav {
  width: 25%;
}

.ShopPageNav ul {
  list-style-type: none;
  padding: 0;
  font-style: italic;
}

.categories {
  padding: 12px 0;
  font-size: 20px;
}

.apple {
  padding: 8px 16px;
  background-color: black;
  color: white;
}

.title {
  padding: 8px 16px;
  background-color: #f1f3f5;
}

.item {
  padding: 8px 16px;
  color: #868e96;
  cursor: pointer;
}
.item:hover {
  color: #e0b875;
}
